<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Haase_Insight_Project </title>
    <!-- import plugin script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  </head><body>
    <h1>How succesful are Amazon's purchase suggestions?</h1>
    <div style="width:1700px;">
    <div style="width:850px; float:left;">
    <!-- bar chart canvas element -->
    <canvas id="chart" width="800" height="800"></canvas>
    <script>
      var barData = {
      labels : [{% for item in labels %}
      "{{item}}",
      {% endfor %}],
      datasets : [
      {
            label: "Purchase Data",
            backgroundColor: "rgba(0,0,255,1)",
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   var mychart = document.getElementById("chart").getContext("2d");
   var output = new Chart(mychart, {
      type: "bar",
      data: barData,
      options: {
        responsive: false,
        title: {
            display: true,
            text: "Batch Results",
            fontSize: 46
           },
          scales: {
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Count",
               fontSize: 40,
             },
             ticks: {
                fontSize: 36
              }
            }],
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Suggested and Bought",
                fontSize: 40,
              },
              ticks: {
                fontSize: 36
              }
             }]
           }
       }});

    </script>
    </div>
    <div style="width:850px; float:right;">
      <!-- bar chart canvas element -->
    <canvas id="chart2" width="800" height="800"></canvas>
    <script>
      var barData = {
      labels : [{% for item in slabels %}
      "{{item}}",
      {% endfor %}],
      datasets : [
      {
            label: "Purchase Data",
            backgroundColor: "rgba(0,0,255,1)",
            data : [{% for item in svalues %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   var mychart2 = document.getElementById("chart2").getContext("2d");
   var output2 = new Chart(mychart2, {
      type: "bar",
      data: barData,
      options: {
        responsive: false,
        title: {
            display: true,
            text: "Streaming Results",
            fontSize: 46
           },
          scales: {
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Count",
               fontSize: 40,
             },
             ticks: {
                fontSize: 36
              }
            }],
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Suggested and Bought",
                fontSize: 40,
              },
              ticks: {
                fontSize: 36
              }
             }]
           }
      }});
    </script>
    </div>
    </div>
</body></html>
